<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    {% if settings.AUTHOR %}
        <meta name="author" content="{{ settings.AUTHOR }}"/>
    {% endif %}

    <title>
        {% block title %}No title{% endblock %}
    </title>
    {% block css %}
    {% endblock css %}
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

</head>

<body>
{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

<div class="container-fluid">
    {% block content %}

    {% endblock content %}
</div>
</body>
</html>
