{% extends "base.html" %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contacts.css"/>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-error">Your username and password didn't match. Please try again.</div>
    {% endif %}
    <form class="form-horizontal" method="post" action="{% url login %}">
        {% csrf_token %}

        <div class="controls">
            <legend>Login</legend>
        </div>
        <div class="control-group">
            <label class="control-label">{{ form.username.label_tag }}</label>

            <div class="controls"> {{ form.username }}</div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ form.password.label_tag }}</label>

            <div class="controls">{{ form.password }}</div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <input type="hidden" name="next" value="{% url home %}"/>
        </div>
    </form>

{% endblock %}