div {
    font-family: Georgia, serif;
    font-size: 14px;
    color: black;
    padding: 2px;
    font-weight: lighter;
}

.title {
    font-size: 22px;
    padding: 20px;
    line-height: 26px;
    font-weight: normal;
}

.field_text {
    font-weight: normal;
}

.table_main {
    vertical-align: top;
    width: 800px;
    height: 300px;
    left: 152px;
    background-image: none;
    padding-top: 20px;
}

.table_main tbody {
    vertical-align: top;
}

.table_main td {
    width: 50%;
    padding-right: 20px;
}

.table_column {
    vertical-align: top;
}

.table_column .label {
    width: 40%;
    text-align: left;
}

.table_column .field_text {
    width: 60%;
    text-align: left;
}

.hline {
    vertical-align: top;
    width: 99%;
}

.main {
    width: 100%;
    padding: 10px;
}

.user_name {
    font-weight: normal;
}

.req_list {
    font-family: Georgia, serif;
    font-size: 14px;
    color: rgb(128, 128, 128);
}

.req_list span {
    font-size: 14px;
    color: rgb(1, 1, 8);
}

.login_form {
    top: 30px;
    left: 575px;
    width: 150px;
    height: 18px;
    border: none;
    position: absolute;
    overflow: visible;
    cursor: auto;
    margin-top: 1px;
    margin-left: 1px;
    z-index: 1000;
}

