div {
    font-family: Georgia, serif;
    font-size: 14px;
    color: black;
    padding: 10px;
    font-weight: lighter;
    vertical-align: middle;
}

.title {
    font-size: 22px;
    font-weight: normal;
}

.edit_form .column_left {
    position: absolute;
    top: 80px;
    left: 0;
    width: 400px;
    padding: 10px;
    height: 110px;
}

.edit_form .column_right {
    position: absolute;
    top: 80px;
    left: 360px;
    width: 450px;
    height: 130px;
    vertical-align: top;
    overflow: visible;
}


.edit_form .column_info {
    position: absolute;
    top: 220px;
    left: 360px;
    width: 400px;
    height: 300px;
    vertical-align: top;
}

#footer {
    position: absolute;
    top: 600px;
    left: 0;
    width: 100%;
}

#hline {
    position: relative;
    left: 0;
    top: 0;
    width: 670px;
    height: 1px;
    background-color: rgb(72, 72, 72);
    border: none;
    padding: 0;
}

.form_label {
    vertical-align: top;
    width: 30%;
    text-align: left;
}

.field_text {
    font-weight: normal;
    vertical-align: top;
}

.field_text textarea {
    width: 250px;
    height: 120px;
}

.table_column .field_text {
    width: 60%;
    text-align: left;
}

.user_name {
    font-weight: normal;
}

.req_list {
    font-family: Georgia, serif;
    font-size: 14px;
    color: rgb(128, 128, 128);
}

.req_list span {
    font-size: 14px;
    color: rgb(1, 1, 8);
}

.login_form {
    top: 30px;
    left: 575px;
    width: 150px;
    height: 18px;
    border: none;
    position: absolute;
    overflow: visible;
    cursor: auto;
    margin-top: 1px;
    margin-left: 1px;
    z-index: 1000;
}

.photo_edit {
    padding: 0;
    top: 210px;
    left: 10px;
    width: 235px;
    height: 320px;
    overflow: visible;
    position: absolute;
    cursor: auto;
    margin-top: 1px;
    margin-left: 1px;
    z-index: 1000;
    border: 2px solid rgb(72, 72, 72);
}

.photo {
    top: 180px;
    left: 10px;
    width: 295px;
    height: 390px;
    overflow: visible;
    position: absolute;
    cursor: auto;
    margin-top: 1px;
    margin-left: 1px;
    z-index: 1000;
    padding: 0;
    border: 2px solid rgb(72, 72, 72);
}

.flash {
    width: 50%;
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    color: black;
    background: #FFC
}

.errorlist {
    text-align: left;
    color: red;
    font-size: 10px;
}

#buttons {
    position:absolute;
    top:560px;
    left:20px;
}

