.title {
    font-size: 22px;
    padding: 20px;
    font-family: Georgia, serif;
    line-height: 26px;
    font-weight: normal;
    font-family: Georgia, serif;
}

.label {
    font-size: 14px;
    padding: 2px;
    font-family: Georgia, serif;
    line-height: 18px
}

.label .field_text {
    font-weight: bold;
    font-size: 18px;

}

.table_main {
    vertical-align: top;
    width: 800px;
    height: 300px;
    left: 152px;
    background-image: none;
    padding-top: 20px;
}

.table_main tbody {
    vertical-align: top;
}

.table_main td {
    width: 50%;
    padding-right: 20px;
}

.table_column {
    vertical-align: top;
}

.table_column .label {
    width: 40%;
    text-align: right;
}

.table_column .field_text {
    width: 60%;
    text-align: left;
}

.hline {
    vertical-align: top;
    width: 96%;
    height: 1px;
}

.main {
    width: 100%;
    padding: 10px;
}

#req_link {
    color: rgb(17, 17, 239);
    font-size: 14px;
    padding: 2px;
    font-family: Georgia, serif;
}

.req_list {
    font-size: 14px;
    font-family: Georgia, serif;
    color: rgb(128, 128, 128);
}

.req_list span {
    font-size: 14px;
    color: rgb(1, 1, 8);
}
