{% extends "base.html" %}

{% block title %} Hello, 42cc! {% endblock %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contacts.css"/>
    <script type="text/javascript">
        $(function () {
            setImageSize()
        });

        function setImageSize() {
            $(".proportional").aeImageResize({ height:390, width:295 });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="title">42 Coffee Cups Test Assignment</div>

    {% include 'hello/login_div.html' %}

    <div>
        <table class="column_left">
            <tr>
                <td class="form_label">Name</td>
                <td class="field_text">{{ user.first_name }}</td>
            </tr>

            <tr>
                <td class="form_label">Last name</td>
                <td class="field_text">{{ user.last_name }}</td>
            </tr>

            <tr>
                <td class="form_label">Date of birth</td>
                <td class="field_text">{{ user.birthdate }}</td>
            </tr>

            <tr>
                <td class="form_label">Photo:</td>
                <td class="field_text"></td>
            </tr>

        </table>

        <div id="image" class="photo">
            {% if photo %}
                <img id="photo" class="proportional" src="/{{ settings.MEDIA_URL }}{{ photo }}" width="100%" height="100%">
            {% else %}
                <img src="{{ STATIC_URL }}images/non_avatar_big.png" width="100%" height="100%">
            {% endif %}

        </div>

        <table class="column_right">
            <tr>
                <td class="form_label">Contacts</td>
            </tr>

            <tr>
                <td class="form_label">Email:</td>
                <td class="field_text">{{ user.email }}</td>
            </tr>

            <tr>
                <td class="form_label">Jabber:</td>
                <td class="field_text">{{ user.jabber }}</td>
            </tr>

            <tr>
                <td class="form_label">Skype:</td>
                <td class="field_text">{{ user.skype }}</td>
            </tr>
        </table>

        <table class="column_info">
            <tr>
                <td class="form_label">Other contacts:</td>
                <td class="field_text">{{ user.other_contacts }}</td>
            </tr>

            <tr>
                <td class="form_label">Bio:</td>
                <td class="field_text">{{ user.bio }}</td>
            </tr>
        </table>
    </div>

    {% include 'hello/req_footer.html' %}


{% endblock content %}
