{% extends "base.html" %}

{% block title %} Hello, 42cc! {% endblock %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contacts.css" xmlns="http://www.w3.org/1999/html"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.23.custom.css" xmlns="http://www.w3.org/1999/html"/>

    {% load adminmedia %}
{% comment %}
    <script>
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>
{% endcomment %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ui/jquery-ui-1.8.23.custom.min.js"></script>

    <script type="text/javascript">
        function search_submit() {
            var query = $("#id_query").val();
            $("#search_results").load(
                    "/search/?ajax&query=" + encodeURIComponent(query)
            );
            return false;
        }
        $(document).ready(function () {
            //$("#id_query").keyup(search_submit);
            // $("#search_form").submit(search_submit);
            $(function() {
                $( "#id_birthdate" ).datepicker();
            });
        });
    </script>

   {% comment %} {{ form.media }}{% endcomment %}
{% endblock %}

{% block content %}

    {% if form_saved %}
        <div class="flash">Data is updated successfully!</div>
    {% endif %}

    <div class="title">42 Coffee Cups Test Assignment (Edit mode)</div>

    {% include 'hello/login_div.html' %}

    <div>
        <form class="edit_form" enctype="multipart/form-data" action="{% url edit %}" method="post"> {% csrf_token %}

            <table class="column_left">
                <tr>
                    <td class="form_label">Name</td>
                    <td class="field_text">{{ form.first_name }}
                        {% if form.first_name.errors %} <span class="errorlist">*</span> {% endif %}
                    </td>
                </tr>

                <tr>
                    <td class="form_label">Last name</td>
                    <td class="field_text">{{ form.last_name }}
                        {% if form.last_name.errors %} <span class="errorlist">*</span> {% endif %}
                    </td>
                </tr>

                <tr>
                    <td class="form_label">Date of birth</td>
                    <td class="field_text">{{ form.birthdate }}
                        {% if form.birthdate.errors %} <span class="errorlist">*</span> {% endif %}
                    </td>
                </tr>

                <tr>
                    <td class="form_label">Photo:</td>
                    <td class="field_text"> {{ form.photo }}</td>
                </tr>

            </table>

            <div class="photo_edit">
                {% if photo %}
                    <img src="/{{ settings.MEDIA_URL }}{{ photo }}" width="100%" height="100%">
                {% else %}
                    <img src="{{ STATIC_URL }}images/non_avatar_big.png" width="100%" height="100%">
                {% endif %}
            </div>

            <table class="column_right">
                <tr>
                    <td class="form_label">Contacts</td>
                </tr>

                <tr>
                    <td class="form_label">Email:</td>
                    <td class="field_text">{{ form.email }} {% if form.email.errors %}
                        <span class="errorlist">*</span> {% endif %}
                    </td>
                </tr>

                <tr>
                    <td class="form_label">Jabber:</td>
                    <td class="field_text">{{ form.jabber }}</td>
                </tr>

                <tr>
                    <td class="form_label">Skype:</td>
                    <td class="field_text">{{ form.skype }}</td>
                </tr>
            </table>

            <table class="column_info">
                <tr>
                    <td class="form_label">Other contacts:
                        <p class="field_text">{{ form.other_contacts }}</p>
                    </td>
                </tr>

                <tr>
                    <td class="form_label">Bio:
                        <p class="field_text">{{ form.bio }}</p>
                    </td>
                </tr>
            </table>
            <div id="buttons">
                <input id="savebtn" type="submit" value="Save"/> <a href="{% url edit %}" id="cancelbtn">cancel</a>
            </div>
        </form>

    </div>

    {% include 'hello/req_footer.html' %}

{% endblock content %}
