{% extends "base.html" %}
{% load webdesign %}

{% block title %} Hello, 42cc! {% endblock %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contacts.css"/>
{% endblock %}

{% block content %}
    <div class="title">42 Coffee Cups Test Assignment</div>

    <div class="login_form">
        {% if user.is_authenticated %}
            <div class="user_name">{{ user.username }} |
                <a class="req_link" id="logout" href="{% url logout %}">logout</a></div>
        {% else %}
            <a class="req_link" id="login" href="{% url login %}">login</a>
        {% endif %}
    </div>

    <div class="main">
        <table class="table_main">
            <tr>
                <td>
                    <table class="table_column">
                        <tr>
                            <td class="label">Name</td>
                            <td class="field_text">Vitalii</td>
                        </tr>

                        <tr>
                            <td class="label">Last name</td>
                            <td class="field_text">Tamazian</td>
                        </tr>

                        <tr>
                            <td class="label">Date of birth</td>
                            <td class="field_text">20.01.1974</td>
                        </tr>

                        <tr>
                            <td class="label">Bio:</td>
                            <td class="field_text">{% lorem 30 w %}</td>
                        </tr>

                    </table>
                </td>
                <td>
                    <table class="table_column">
                        <tr>
                            <td class="label">Contacts</td>
                        </tr>

                        <tr>
                            <td class="label">Email:</td>
                            <td class="field_text">vit.tam@gmail.com</td>
                        </tr>

                        <tr>
                            <td class="label">Jabber:</td>
                            <td class="field_text">vitamon@jabber.ru</td>
                        </tr>

                        <tr>
                            <td class="label">Skype:</td>
                            <td class="field_text">vit.tam</td>
                        </tr>

                        <tr>
                            <td class="label">Other contacts:</td>
                            <td class="field_text">{% lorem 10 w %}</td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
        <hr class="hline"/>
        <div>
            <a id="req_link" class="req_link" href="{% url requests %}">requests</a>
        </div>
    </div>
{% endblock content %}
