{% extends "base.html" %}
{% load webdesign %}

{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contacts.css"/>
{% endblock %}
{% block content %}
    <div class="title">42 Coffee Cups Test Assignment</div>

    <div>
        <table class="table_main">
            <tr>
                <td>
                    <table class="table_column">
                        <tr>
                            <td class="label">Name</td>
                            <td class="field_text">Vitalii</td>
                        </tr>

                        <tr>
                            <td class="label">Last name</td>
                            <td class="field_text">Tamazian</td>
                        </tr>

                        <tr>
                            <td class="label">Date of birth</td>
                            <td class="field_text">20.01.1974</td>
                        </tr>

                        <tr>
                            <td class="label">Bio:</td>
                            <td class="field_text">{% lorem 30 w%}</td>
                        </tr>

                    </table>
                </td>
                <td>
                    <table class="table_column">
                        <tr>
                            <td class="label">Contacts</td>
                        </tr>

                        <tr>
                            <td class="label">Email:</td>
                            <td class="field_text">vit.tam@gmail.com</td>
                        </tr>

                        <tr>
                            <td class="label">Jabber:</td>
                            <td class="field_text">vitamon@jabber.ru</td>
                        </tr>

                        <tr>
                            <td class="label">Skype:</td>
                            <td class="field_text">vit.tam</td>
                        </tr>

                        <tr>
                            <td class="label">Other contacts:</td>
                            <td class="field_text">{% lorem 10 w%}</td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}
