{% extends "base.html" %}

{% block title %} Top 10 requests {% endblock %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contacts.css"/>
{% endblock %}

{% block content %}
    <p class="row-fluid">
    <table class="table table-bordered table-striped table-hover">
        {% for item in items %}
            <tr>
                <td>
                    <span><a href="{% url req_up item.id %}"><i class="icon-plus-sign"></i></a></span>
                    <span><a href="{% url req_down item.id %}"><i class="icon-minus-sign"></i></a></span>
                    <strong> {{ item.priority }}</strong>
                    <strong class="text-success"> {{ item.url }}</strong>

                    <span class="text-info"> {{ item.id }}</span>
                    {{ item.time }} | {{ item.time|timesince }} ago
                </td>
            </tr>
        {% empty %}
            The log is empty
        {% endfor %}
    </table>
{% endblock content %}
