{% extends "base.html" %}

{% block title %} Top 10 requests {% endblock %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contacts.css"/>
{% endblock %}

{% block content %}
    {% for item in items %}
        <ul class="req_list"><span> {{ item.id }} | </span>  {{ item.time }} | {{ item.time|timesince }} ago<span> | </span> <span class="url"> {{ item.url }}</span></ul>
    {% empty %}
        <div>The log is empty</div>
    {% endfor %}
{% endblock content %}
