<div class="row-fluid">
    <span class="span9"><h3>Django&Bootstrap test app</h3></span>
    <span class="span3 float-right pull-right">
    <br>
        {% if is_authenticated %}
            {% load edit_link %} {% edit_link request.user %} |
            <a class="btn btn-link" id="logout" href="{% url logout %}">logout</a>
        {% else %}
            <a class="btn btn-link " id="login" href="{% url login %}">Edit</a>
        {% endif %}
    </span>

</div>
<div class="row-fluid">
    <div class="alert span10 float-left fade in">
        <button type="button" class="close">×</button>
        <span id="message"></span>
    </div>
</div>
